<html lang="en">

    <head>

        <meta charset="utf-8" />
        <title>Rúcula</title>
        <base href="/" />
        <link rel="icon" href="/static/rucula.svg" sizes="any" type="image/svg+xml">
        <meta name="description" content="Administrá tu billete" />
        <meta property="og:title" content="Rúcula" />
        <meta property="og:url" content="https://unmateo.github.io" />
        <meta property="og:description" content="Administrá tu billete" />
        <meta property="og:image" content="/static/rucula.svg" />
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id"
            content="530799842096-guq2pnav8a2vg6gctsnto24rd7e25rif.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src="/static/google.js"></script>
        <script src="/static/api.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>

    <body>

        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/static/rucula.svg" alt="" width="30" height="24" class="d-inline-block align-top">
                    Rúcula
                </a>
                <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </body>

</html>
