<html lang="en">

    <head>

        <meta charset="utf-8" />
        <title>Rúcula</title>
        <base href="/" />
        <link rel="icon" href="/static/rucula.svg" sizes="any" type="image/svg+xml">
        <meta name="description" content="Administrá tu billete" />
        <meta property="og:title" content="Rúcula" />
        <meta property="og:url" content="https://unmateo.github.io" />
        <meta property="og:description" content="Administrá tu billete" />
        <meta property="og:image" content="/static/rucula.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="manifest" href="/static/manifest.webmanifest" />

    </head>

    <body>

        <nav class="navbar navbar-light bg-light mb-3">
            <div class="container">
                <a class="navbar-brand" href="https://unmateo.github.io" target="_blank">
                    <img src="/static/rucula.svg" alt="" width="30" height="24" class="d-inline-block align-top">
                    Rúcula
                </a>
            </div>
        </nav>
        {% block result %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </body>

</html>
