{% extends "base.html" %}
{% block content %}
<form class="container" method="post" action="/payments" enctype="application/x-www-form-urlencoded">

    <div class="mb-3">
        <label for="username" class="form-label">Usuario</label>
        <input type="text" class="form-control" name="username" autocomplete="username">
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" name="password" autocomplete="current-password">
    </div>

    <div class="mb-3">
        <label for="category" class="form-label">Categoría</label>
        <select class="form-select" name="category">
            <option selected value="market">Supermercado</option>
            <option value="purchase">Compra</option>
            <option value="travel">Viaje</option>
            <option value="present">Regalo</option>
            <option value="housing">Vivienda</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Descripción</label>
        <input type="text" class="form-control" id="description" name="description" required value="-">
    </div>

    <div class="mb-3">
        <label for="amount" class="form-label">Monto</label>
        <input type="number" class="form-control" name="amount" value=100>
    </div>

    <div class="mb-3">
        <label for="installments" class="form-label">Cuotas</label>
        <input type="number" class="form-control" name="installments" min=1 value=1>
    </div>

    <div class="mb-3">
        <label for="method" class="form-label">Medio</label>
        <select class="form-select" name="method">
            <option selected value="cash">Efectivo</option>
            <option value="debit">Débito</option>
            <option value="credit">Crédito</option>
        </select>
    </div>
        <button type="submit" class="btn btn-primary mb-3" style="float: right; min-width: 120px;">Registrar</button>
</form>
{% endblock %}
