{% extends "base.html" %}
{% block content %}
<form class="container" method="post" action="/" enctype="application/x-www-form-urlencoded">

    <div class="mb-3">
        <label for="category" class="form-label">Categoría</label>
        <select class="form-select" id="category" name="category">
            <option selected value="market">Supermercado</option>
            <option value="purchase">Compra</option>
            <option value="travel">Viaje</option>
            <option value="present">Regalo</option>
            <option value="housing">Vivienda</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Descripción</label>
        <input type="text" class="form-control" id="description" name="description" >
    </div>

    <div class="mb-3">
        <label for="amount" class="form-label">Monto</label>
        <input type="number" class="form-control" id="amount" name="amount" >
    </div>

    <button type="submit" class="btn btn-primary">Cargar</button>

</form>
{% endblock %}
